@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div#root {
  background: #d3f9f2;
  min-height: 100vh;
  max-height: 100%;
}
.logo {
  font-family: "Pacifico", cursive;
}

.RecipeListApp {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: cover;
}

.recipe-container {
  max-width: 250px;
}

.recipe-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 200;
}

.close-btn {
  position: relative;
}

.close-btn-before {
  font-size: 32px;
  position: absolute;
  right: -32px;
  color: white;
  font-weight: bold;
  top: -32px;
  cursor: pointer;
}

.link.nav-link {
  transition: all 0.3s;
  position: relative;
  user-select: none;
}

.nav-link::after {
  content: "";
  width: 0px;
  height: 3px;
  position: absolute;
  bottom: -5px;
  background-color: #000;
  left: 0;
  transition: all 0.5s;
  transform-origin: center;
}

.nav-link.nav-link-active::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -5px;
  background-color: #000;
  left: 0;
  transition: all 0.5s;
  transform-origin: center;
  border-radius: 6px;
}

.link.nav-link:hover {
  color: #000;
  transform: translateY(-2px);
  transition: all 0.3s;
}

.nav-link:active {
  transform: translateY(1px);
  transition: all 0.3s;
}

.nav-link.nav-link-active {
  color: #000;
  transition: all 0.3s;
}

.recipe-notes,
.recipe-finder,
.contact-notes {
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.5s;
}

.recipe-notes.active,
.recipe-finder.active,
.contact-notes.active {
  transform: scale(1);
  opacity: 1;
}
